/* Online image */
.online { background-image: url("./icon_user_online.png"); }
.offline { background-image: url("./icon_user_offline.png"); }

.imageset.icon_user_offline {
	background-image: url("./icon_user_offline.png");
	padding-left: 16px;
	padding-top: 16px;
}
